.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0056b3;
    color: white;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
}
#logout_btn{
    background-color: red;
}